// Global
$height: 200px;
$height-fomule-duo: 100px;
$height-img-formule-duo: 300px;

// Title
$title-color: #000000;
$title-font-family: "Permanent Marker", Sans-serif;
$title-font-size: 1.9rem;

// Text
$text-color: #7a7a7a;
$text-font-weight: 700;
$text-font-family: "Encode Sans", sans-serif;
$text-font-size: 1.4rem;

// Price
$price-color: #590B46;
$price-font-weight: 900;

// Background
$table-background: #E3D6CE;
$title-img: url("../images/Utopia-lin.jpg");