#utopia-prices {

    div {
        
        p {   
            text-align: left;
            margin-bottom: 6px;

            &:last-child {
                margin-bottom: 0;
            }
        }

        h2 {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0;
        }

        img {
            max-height: $height;
        }
    }
    
    &.table-container {
        width: 90%;
    }
    
    .flex-table {
        display: flex;
        flex-flow: row wrap;
        margin-bottom: 30px;
    }
    
    .flex-row,.flex-cell {

        &.img {
            background-color: unset;
        }
    
        &.title {
            text-align: center;
            color: $title-color;
            font-family: $title-font-family;
            font-size: $title-font-size;
            background-image: $title-img;
        }
    
        &.col1 {
    
            p {
                margin-left: 5px;
            }
        }
        
        &.col3 {
            color: $price-color;
            font-weight: $price-font-weight;
        }

        height: $height;
        background-color: $table-background;
        color: $text-color;
        font-family: $text-font-family;
        font-size: $text-font-size;
        font-weight: $text-font-weight;
        padding: 0 0.5em;
    }
    
    .rowspan {
        display: flex;
        flex-flow: row wrap;
        align-items: flex-start;
        justify-content: center;
    }
    
    .column {
        display: flex;
        flex-flow: column wrap;
        height: $height;
        justify-content: center;
    
    }
}